.Navbar {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: white;
}

.space{ 
    padding: 7px;
    font-style: italic;
    font-family: 'Rajdhani', sans-serif;
    margin-right: 40px;
    font-size: 23px;
    color: black;
    text-decoration: none;   
}

.logo {
    width: auto;
}